# Virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Raw and generated datasets
data/*.xlsx
data/*.csv

# OS files
.DS_Store

# IDE files
.vscode/
.idea/
